*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;

}   

                        /* man-container */

.man-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 300px 1fr;
    gap: 50px;
    padding-top: 40px;
    margin: auto;
    
}

                         /* sidebar */
.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding: 40px;
    position: sticky;
    top: 40px;
}

.main-content{
    height: fit-content;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px;
    padding:40px;
}

                         /* profile */


.sidebar .profile {
    text-align: center;
}


.sidebar .profile img {
    height: 120px;
    width: 120px;
    border: 1px solid #3a3a3a;
    border-radius: 50%;

}

.sidebar .profile h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    color: #e0e0e0;
}

.sidebar .profile p {
    background: #1e1e1e;
    padding: 5px 15px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 10px;
}



                 /* contact */


.contact {
    margin-top: 30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.lable {
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}

.value {
    color: #e0e0e0;
    text-decoration: none;
}

.email , .Phone {
    margin-bottom: 15px;
}

                     /* social */

.social {
    margin-top: 30px;
    border-top: 1px solid #3a3a3a;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social a img{
    height: 24px;
    width: 24px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6069%) hue-rotate(277deg) brightness(123%) contrast(76%);
    transition: filter 0.3s ease;
    transition: transform 0.3s ease;
}
.social a img:hover {
    filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(130deg) brightness(99%) contrast(104%);
    transform: scale(1.3);
    filter: drop-shadow(-1px -1px 4px #e0e0e0);
}

.social a {
    cursor: pointer;
}


                        /* main-content */

                        /* navigation */

#navigation {
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    /* padding: 30px 40px; */
}

#navigation nav {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
    
}
  
#navigation nav  a {
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}
.active:active {
    color: #ffbf00;

}

#navigation nav  a:hover {
    color: #ffbf00;
}




                /* about me */

#about {
    margin-bottom: 40px;
}

.head{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #e0e0e0;
}

.line{
    width: 50px;
    height: 4px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}

.main-content #about p{
    text-align: justify;
    font-size: 1rem;
    color: #c0c0c0;
}

                        /* skills */



.all-logo {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    margin-top: 30px;
}

.all-logo img {
    height: 60px;
    width: auto;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
}

.all-logo .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.3s ease;
}

.all-logo .logo:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
.all-logo .logo p {
    color: #e0e0e0;
    font-size: 1rem;
    font-weight: 500;
}


                    /* education */

#education {
    margin-top: 30px;
}


.year {
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree {
    font-size: 1.2rem;
    font-weight: 500;
    color: #e0e0e0;
    margin-bottom: 5px;
}

.college {
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 10px;
}

.work {
    color: #a0a0a0;
}

.edu1{
    margin-bottom: 30px;
}
.edu {
    padding-left: 40px;
    position: relative;
}

.goal {
    height: 15px;
    width: 15px;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 4px;
    z-index: 10;
}

.edtech {
    position: relative;
    margin-top: 20px;
}

.liner {
    position: absolute;
    top: 2px;
    bottom: 0px;
    border: 3px solid #3a3a3a;
    left: 4px;
}

                /* portfolio */
 
#portfolio {
    margin-top: 30px;
}

.all-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 30px;
}


.project img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.project{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.card{
    padding: 20px;
}

.card h3 {
    color: #e0e0e0;
    margin-bottom: 10px;
}

.card p {
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.card span {
    background-color: rgba(255, 191, 0, 0.1);
    color: #FFBF00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.75rem;
    margin-right: 5px;
}

.project:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}




@media screen and (max-width:1200px) {
    .man-container{
        grid-template-columns: 1fr;
        padding: 20px;
    }


    .sidebar{
        position: static;
        height: auto;
    }
}

@media screen and (max-width:750px) {
    .all-projects{
        grid-template-columns: 1fr;
    }

    #navigation nav {
        /* Adjust nav for smaller screens */
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
}



